{% extends "base.html" %}

{% block css %}
<style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      .small {
        height : 100px;
        width: 100px;
      }
    </style>
{% endblock %}

{% block main %}

<div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li ><a href="{{ url_for('index') }}">Home</a></li>
          <li class="active"><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="http://blog.hormonalnutrition.com">Blog</a></li>
        </ul>
        <h3 class="muted">Hormonal Nutrition</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <img src="https://dl.dropbox.com/u/10021156/HormonalNutrition/octobiwan.jpg" class="img-circle small">
        <p class="lead">Hormonal Nutrition was developed by Kevin Kuhn</p>
        
      </div>

      <hr>

      <div class="footer">
        <p>&copy; HormonalNutrition.com 2013</p>
      </div>

    </div> <!-- /container -->
 
{% endblock %}

