{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static',filename='css/impress-demo.css') }}" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
{% endblock %}

{% block js%}
<script src="{{ url_for('static', filename='js/impress.js') }}"></script>
<script>impress().init();</script>
<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>
{% endblock %}

{% block main %}

<div id="impress">
  <div id="start" class="step slide" data-x="-1000" data-y="-1500">
    <p>Have your tried every diet, but cannot keep <strong>fat</strong> off
      or maintain muscle-mass consistently? Do you want to change the way you look and feel, but
      don’t know what to do next because everything you try
      lets you down?</p>
    <a href="{{ url_for('index') }}">Home</a>
  </div>
  <div class="step slide" data-x="0" data-y="-1500">
    <p>What if I told you that calories are not that important?
      In fact, what if our entire idea of dieting and calorie-restriction is
      built on a faulty foundation and completely wrong assumption? What if traditional
      dieting is actually unhealthy?</p>
  </div>
  <div class="step slide" data-x="1000" data-y="-1500">
    <q>The assumption that a calorie of carbohydrate is equal to a calorie of protein is
      equal to a calorie of fat is blatantly wrong.</p>
   </div>

    </div>
 
{% endblock %}
