{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
{% endblock %}

{% block main %}
<div class="container ">
  <h1 class="pull-right">Hormonal Nutrition</h1>
        <ul class="nav nav-pills">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('checkout') }}">Checkout</a></li>
          <li class="active" ><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="http://blog.hormonalnutrition.com">Blog</a></li>
        </ul>
      <hr>
</div>
<div class="row-fluid">
<div class="span12" style="text-align:center;">
  <iframe src="http://prezi.com/embed/jsm_-z4lttvc/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=no&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined"
  width="550" height="400" frameBorder="0"></iframe>

      <div class="footer">
        <p>&copy; HormonalNutrition.com 2013</p>
      </div>
</div>
    </div> <!-- /container -->
 
{% endblock %}
