<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}Hormonal Nutrition.com{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/static/favicon.ico">

  <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

<link rel="stylesheet"
  href="https://dl.dropbox.com/u/10021156/smallgroup/bootstrap.min.css"
  />

<link rel="stylesheet"
  href="https://dl.dropbox.com/u/10021156/smallgroup/bootstrap-responsive.css"
  />

  {% block css %}{% endblock %}

</head>

<body>

  <header>
    {% include "header.html" %}
  </header>

  <div id="main" role="main">
    {% block main %}{% endblock %}
  </div>

  <footer>
    {% include "footer.html" %}
  </footer>

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery.js">\x3C/script>')</script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>

  <!-- Additional JavaScript libraries and plugins... -->
  {% block js %} {% endblock %}


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37885001-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


  <!-- Prompt IE < 8 users to install Chrome Frame.  -->
  <!--[if lt IE 8 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
