{% extends "base.html" %}

{% block css %}
<link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
{% endblock %}

{% block main %}
<div class="container ">
  <h1 class="pull-right">Hormonal Nutrition</h1>
        <ul class="nav nav-pills">
          <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
          <li ><a href="{{ url_for('checkout') }}">Checkout</a></li>
          <li ><a href="{{ url_for('about') }}">About</a></li>
        </ul>
      <hr>
<div class="row-fluid">
<div class="span3">
        <h1 style="text-align:center">Learn the truth about your body</h1>
        <p class="lead" style="text-align:center;">Hormones are
        running your metabolism, so eat the right foods to elicit a
        specific hormonal response.  Take <strong>control</strong> of your metabolism
        and get the results you want!</p>
</div>

<div class="span4">
  <p class="lead"><img src="https://dl.dropbox.com/u/10021156/HormonalNutrition/wbc.png" class="" alt="" /> </p>
</div>

<div class="span5" style="text-align:center">
        <h1>Kevin Kuhn</h1>
        <p class="lead" style="text-align:center;">Hormones are
        running your metabolism, so eat the right foods to elicit a
        specific hormonal response.  Take control of your metabolism
        and get the results you want!</p>
        <p italic class="lead">Get the book <strong>now</strong></p>
        <a type="button" class="btn btn-warning" href="{{
        url_for('checkout') }}">Buy Now! $25</a>
</div>
</div>
      <hr>
      <div class="row-fluid marketing">
        <div class="span6">
          <blockquote>
            <p>Simply the best ebook I've ever read.</p>
            <small>John Doe (Chief Fitness Expert) <cite title="Source Title"></cite></small>
          </blockquote>
          
          <blockquote>
            <p>Awesome to hear an authority speak on the subject.</p>
            <small>Larry Looper (Fitness LLC) <cite title="Source Title"></cite></small>
          </blockquote>
         </div>
        
        <div class="span6">
           <blockquote>
             <p>With all the misinformation out there its refreshing to hear the truth being preached.</p>
             <small>Marry Sue (CEO) <cite title="Source Title"></cite></small>
           </blockquote>
           <blockquote>
             <p>Bought 4 for family and friends.</p>
             <small>Samuel Sok (Health Coach) <cite title="Source Title"></cite></small>
           </blockquote>
        </div>
      </div> 

      <div class="footer">
        <p>&copy; HormonalNutrition.com 2013</p>
      </div>

    </div> <!-- /container -->
 
{% endblock %}
