{% extends "base.html" %}

{% block css %}
<link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
<style type="text/css" media="screen">
<!-- body { -->
<!--    background-image:url('https://dl.dropbox.com/u/10021156/HormonalNutrition/pw_maze_white.png'); -->
<!--    background-repeat:repeat; -->
<!-- } -->
</style>
{% endblock %}

{% block main %}
<div class="container ">
  <h1 class="pull-right">Hormonal Nutrition</h1>
        <ul class="nav nav-pills">
          <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
          <li ><a href="{{ url_for('checkout') }}">Checkout</a></li>
          <li ><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="http://blog.hormonalnutrition.com">Blog</a></li>
        </ul>
      <hr>
<div class="row-fluid">
<div class="span4" style="text-align:center;">
        <h1 style="text-align:center">Learn the truth about <strong>your</strong> <strong>body</strong>.</h1>
        <p class="lead" style="text-align:center;">Hormones are
        running your metabolism, so eat the right foods to elicit a
        specific hormonal response.  Take <strong>control</strong> of your metabolism
        and get the results you want!</p>
        <a type="button" id="btn" class="btn btn-success" href="{{
        url_for('checkout') }}">Buy Now! $25</a>
</div>

<div class="span4">
  <p class="lead"><img src="https://dl.dropbox.com/u/10021156/HormonalNutrition/wbc.png" class="" alt="" /> </p>
</div>

<div class="span4" style="text-align:center">
        <h3><strong>Kevin Kuhn</strong></h3>
        <p class="lead" id="bio" style="text-align:center;">
          <img src="https://dl.dropbox.com/u/10021156/HormonalNutrition/Kevin.png" style="border-style:groove;" height="200" width="200" class="img-polaroid">
<p>Kevin Kuhn, M.S.Ed., CSCS is a Nutrition Coach, Kinesiologist, and Certified Strength and Conditioning Specialist.</p>
</div>
</div>
    <hr>
      <div class="row-fluid marketing">
        <div class="span12">
          <blockquote>
            <p>"<strong>Gone</strong> is the simplistic (and erroneous!) calories-only model. This is a lot of heavy research compacted into one user friendly book--you'll discover tools you can use immediately!"</p>
            <small>Kaitlin Starrett - Train with Kaitlin <cite title="Source Title"></cite></small>
          </blockquote>
        </div>
      </div>

      <div class="footer">
        <p>&copy; HormonalNutrition.com 2013</p>
      </div>

    </div> <!-- /container -->

{% endblock %}
