{% extends "base.html" %}

{% block title %}No more downloads left :({% endblock %}

{% block css %}
<style type="text/css">
  body{
    padding-top: 40px;
  }
  h1, p{
    text-align:center;
  }
  h1{
    font-size:64px;
    margin:75px 0 50px;
  }
  p{
    font-size:24px;
    margin:15px 0;
  }
</style>
{% endblock %}

{% block main %}
<h1>No Mas!</h1>
<p>You have already downloaded your copy of "Hormonal Nutrition" 3 times.</p>
<p>If you are still having problems feel free to<a href="mailto:hormonalnutrition@gmail.com?Subject=Help%20me!">contact us.</a>
</p>

<p>Or you could<a href="{{ url_for('home') }}">go back home</a></p>
{% endblock %}
